.bookingWrapper{
    position: relative;
    margin-top: -200px;
    box-shadow: 1px 1px 5px grey;
}
.booking , .bookingInput{
    justify-content: space-evenly;
}
.buttons{
    background-color: red;
    color: white;
}
