.bookingWrapper{
    background-color: white;
    color: black;
    position: relative;
    margin: 0 20%;
    padding: 10px;
    margin-top: -150px;
    justify-content: center;
    box-shadow: 1px 1px 5px grey;
}
.booking , .bookingInput{
    display: flex;
    padding: 10px 0;
    justify-content: space-evenly;
}
.bookingWrapper .booking p{
    border-radius: grey solid 10px;
}
.buttons{
    background-color: red;
    color: white;
}
.bookingInput input, .bookingInput p{
    padding: 10px 30px;
}