*{
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}
.upper{
    background-color: #FEF8D5;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    align-items: center;
    font-weight: 500;
}
.upperMessage{
    padding: 3px 2px;
}
.red{
    color: red;
}
.left, .right{
    display: flex;
}
.lower{
    background-color: #333333;
    color: white;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
}
.lowerLeft{
    display: flex;
}
.banner{
    height: 400px;
    width: 1265px;
}