.ad{
    box-shadow: 1px 1px 5px grey;
    width: 365px;
}
.discountPromo{
    margin-top: -400px;
    color: white;
    margin-bottom: 150px;
}
.discountPromo .more{
    margin-top: 150px;
}
.clasLeft img{
    height: 510px;
    box-shadow: 1px 1px 5px grey;
}
.classRight img{
    height: 252px;
    width: auto;
}
.homeAbout{
    justify-content: center;
}
