*{
    text-align: center;
}
section h3{
    padding: 30px 0;
    font-size: 21px;
}
span{
  font-weight: lighter;
  font-size: 21px;
}
.home{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}
.home div{
    box-shadow: 1px 1px 5px grey;
}
.home div p{
    padding: 10px;
}
.more{
    border: 1px solid black;
    align-items: center;
    margin: 2% 40%;
    padding: 10px;
}
.discountPromo{
    font-family: 'Times New Roman', Times, serif;
    margin-top: -400px;
    color: white;
    margin-bottom: 300px;
}
.discountPromo h3{
    font-size: 40px;
}
.discountPromo button{
    margin-top: 150px;
    padding: 10px 20px;
}
.homeAbout{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    margin: 0 110px;
}
