*{
    text-align: center;
}
section h3{
    padding: 30px 0;
    font-size: 21px;
}
span{
  font-weight: lighter;
  font-size: 21px;
}
.home{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}
.home div{
    box-shadow: 1px 1px 5px grey;
}
.home div p{
    padding: 10px;
}
.homeAbout{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    margin: 0 110px;
}
